.viewProgramsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.viewPrograms {
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}