.viewProgramsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.viewProgramsWrapper > .inputWrapper {
    width: 100%;
    margin-left: 35px;
    margin-top: 35px;
}
.viewProgramsWrapper > .inputWrapper > input {
    width: 100%;
}

.viewPrograms {
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}