@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:wght@700&display=swap');

body {
    background: #e0e0e0;
}

.login {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    font-family: 'Rubik', sans-serif;
    font-family: 'Andika', sans-serif;
    border-radius: 50px;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: -11px 11px 22px #bebebe, 11px -11px 22px #ffffff;
}

.form>p {
    color: rgb(27, 109, 87);
    font-weight: bold;
    font-style: italic;
}

.form input {
    outline: 0;
    background: #e0e0e0;
    width: 100%;
    border: 0;
    border-radius: 5px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    font-family: 'Andika', sans-serif;
}

.form input:focus {
    background: #e0e0e0;
}

.form button {
    font-family: 'Rubik', sans-serif;
    font-family: 'Andika', sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #e0e0e0;
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    color: rgb(27, 109, 87);
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:active {
    background: rgb(27, 109, 87);
}

.form button:hover {
    background: rgba(84, 209, 176, 0.371);
}