.popUp {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(84, 209, 176, 0.374);
    padding: 20px 40px;
    border-radius: 12px;
}