.popUp>.preview {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
}

.popUp>.preview>.mealCalories {
    margin-left: 10px;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.popUp>.preview>img {
    width: 70px;
    border-radius: 10px;
}

.popUp>.actionButtons {
    display: flex;
    justify-content: space-around;
}