.patientInfoWrapper {
    display: flex;
    justify-content: center;
    width: 90%;
}

.patientInfoWrapper>fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 10px 20px;
    border-radius: 20px;
    border: 1px solid rgb(27, 109, 87);
}

.patientInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 90%;
}

.patientInfoWrapper>fieldset>legend {
    padding: 0px 15px;
    text-align: left;
    margin-left: 50px;
    font-size: 28px;
    font-style: italic;
    text-transform: capitalize;
    color: rgb(27, 109, 87);
}

input[type='date']:in-range::-webkit-datetime-edit-year-field,
input[type='date']:in-range::-webkit-datetime-edit-month-field,
input[type='date']:in-range::-webkit-datetime-edit-day-field,
input[type='date']:in-range::-webkit-datetime-edit-text {
    color: transparent;
}