.popUp>.actionButtons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 5px;
}

.popUP>h2 {
    color: #444;
    text-transform: uppercase;
}

.popUp>.imagePreview>img {
    box-sizing: border-box;
    width: 100px;
    border-radius: 10px;
    margin-top: 10px;
}