.add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add>.addActionButtons {
  display: inline-flex;
  justify-content: flex-end;
  margin-right: 60px;
  margin-top: 30px;
  width: 94%;
}

.add>.addActionButtons>.innerButton {
  margin-left: 20px;
}