.dailyMealsWrapper {
    display: flex;
    justify-content: center;
}

.dailyMeals {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    width: 88.2%;
    height: 330px;
    border: 1px solid rgb(27, 109, 87);
    border-top: 1px solid #ccc;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}