.header {
    background-color: rgb(27, 109, 87);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;
    position: sticky;
    top: 0px;
    z-index: 1;
    color: white;
}

.header>.title {
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
    font-size: 30px;
    text-transform: capitalize;
    font-style: italic;
}

.header>.title>.pageName {
    margin-top: 6px;
    font-size: 25px;
}

.header>button {
    background: none;
    border: none;
    justify-self: flex-end;
}

.header>.title>img {
    width: 50px;
    margin-right: 10px;
}

.header > .navigationBar {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.header > .navigationBar > .userDetails {
    font-size: 20px;
    text-transform: capitalize;
    font-style: italic;
    display: flex;
    align-items: center;
    background: rgba(84, 209, 176, 0.371);
    border-radius: 10px;
    padding: 0px 10px;
}

.header>.navigationBar>button {
    border: none;
    background: none;
}