.header {
    background-color: rgb(27, 109, 87);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.header > .title {
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: 600;
    font-size: 30px;
    text-transform: capitalize;
}
.header > button {
    background: none;
    border: none;
}
.header > .title > img {
    width: 50px;
    margin-right: 10px;
}