@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-family: 'Andika', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.homePageButtons {
  padding: 5px 10px;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
  font-family: 'Andika', sans-serif;
  text-transform: capitalize;
  font-style: italic;
  outline: none;
  border: none;
  background-color: rgb(84, 209, 176);
  opacity: 0.8;
  color: white;
  border-radius: 20px;
  width: 450px;
  height: 75px;
  cursor: pointer;
}

.homePageButtons:hover {
  box-shadow: 2px 2px 5px 2px rgba(84, 209, 176, 0.371);
  transition: all 0.1s ease-in-out;
}

.homePageButtons:focus {
  box-shadow: -2px -2px 5px 2px rgba(84, 209, 176, 0.371);
  transition: all 0.1s ease-in-out;
}

.innerButtonWrapper {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.innerButton {
  font-size: 20px;
  height: 30px;
  color: rgba(255, 255, 255, 0.871);
  background-color: rgb(27, 109, 87);
  border: none;
  height: 35px;
  padding: 5px 10px;
  width: fit-content;
  border-radius: 10px;
}

.innerButton:hover {
  box-shadow: 1px 1px 3px 1px rgba(27, 109, 87, 0.382);
  transition: all 0.1s ease-in-out;
}

button {
  cursor: pointer;
}