.notFound {
    background-color: white;
    height: 100vh;
}
.notFound>img {
    width: 87%;
    height: 84vh;
}

.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
}